<div style="display: flex; align-items: center; gap: 10px;">
  <icon name="ph:address-book" style="color: #5d3690;" size="16"></icon>
  <icon name="ph:alarm-fill" style="color: #DFB210;" size="30"></icon>
  <icon name="ph:alien-duotone" style="color: #709D54;" size="100"></icon>
  <icon name="ph:angular-logo-fill" style="color: #CE2852" size="20"></icon>
  <icon name="ph:briefcase-light" style="color: #e08d79" size="50"></icon>
  <icon name="ph:chart-bar-thin" style="color: #29339b" size="24"></icon>
</div>

<div style="display: flex; align-items: center; gap: 10px;">
  <icon name="circle-flags:cz" size="50"></icon>
  <icon name="skill-icons:angular-dark" size="50"></icon>
</div>
